<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
    <script
      src="https://cdn.tiny.cloud/1/wwoze543l6zmldpja8at3wkrsz534plnpei7kf2f5dbyneq6/tinymce/7/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
    <script>
      tinymce.init({
        selector: 'textarea',
        plugins:
          'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
        toolbar:
          'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [
          { value: 'First.Name', title: 'First Name' },
          { value: 'Email', title: 'Email' },
        ],
        ai_request: (request, respondWith) =>
          respondWith.string(() =>
            Promise.reject('See docs to implement AI Assistant')
          ),
      });
    </script>
  </head>
  <body>
    <div>
      <%- include('../partials/sidebar'); %>
      <div class="ml-72">
       <div class="flex justify-end my-5 mr-5">
        <button
        onclick="getContent()"
        class="px-4 py-2 bg-green-500 text-white rounded-lg mr-2 text-sm w-24 "
      >
        Save
      </button>
       </div>
        <textarea id="mytextarea">
          <%= content %>

      </textarea
        >
      </div>
    </div>

    <!-- Place the first <script> tag in your HTML's <head> -->

    <!-- Place the following <script> and <textarea> tags your HTML's <body> -->
    <script>
      const getContent = async () => {
        var myContent = tinymce.activeEditor.getContent();
        console.log(myContent);

        // Send the content to the server
        try {
          const response = await fetch('/about', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ content: myContent }),
          });

          if (response.ok) {
            const result = await response.json();
            console.log('Content saved successfully:', result);
            alert('Content saved successfully');
          } else {
            console.error('Failed to save content');
          }
        } catch (error) {
          console.error('Error:', error);
        }
      };
    </script>
  </body>
</html>
