<div
  class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
  <ul class="flex flex-wrap justify-center -mb-px">
    <li class="me-2">
      <a href="?filter=approved"
        class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300
        <%= filter === 'approved' ? 'text-blue-600 border-blue-600 active dark:text-blue-500 dark:border-blue-500' : '' %>">
        Approved
      </a>
    </li>
    <li class="me-2">
      <a href="?filter=pending"
        class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300
        <%= filter === 'pending' ? 'text-blue-600 border-blue-600 active dark:text-blue-500 dark:border-blue-500' : '' %>"
        aria-current="<%= filter === 'pending' ? 'page' : '' %>">
        Pending approval
      </a>
    </li>
  </ul>
</div>
