<!-- verify-success.component.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verification</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="bg-gray-100 h-screen flex items-center justify-center">
    <div class="max-w-lg bg-white p-8 rounded shadow-md">
      <div>

      </div>
      <h2 id="title" class="text-2xl font-bold mb-4"></h2>
      <p id="text" class="text-gray-700 mb-4">
      </p>
      <a href="/" class="text-blue-500 hover:underline">Back to Home</a>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
   const verifyAccount = async () => {
    const title = document.getElementById('title')
    const text = document.getElementById('text')
    const urlParams = new URLSearchParams(window.location.search);
    const token = urlParams.get('token');
    if (token) {
      const url = 'http://localhost:3000/api/auth/verify?token=' + token;
      console.log(url);
      try {
        const res = await axios({
          url: url,
          method: 'POST',
        });
        title.innerText = 'Verification Successful'
        text.innerText = 'Your account has been successfully verified.'
      } catch (error) {
        title.innerText = 'Verification Failed'
        text.innerText = 'Your account has been fail verified.'
      }
    }
   }
   verifyAccount()
  </script>
</html>
